.calculator {
    background-color: black;
    height: 500px;
    width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.screen {
    background-color: lightgray;
    height: 100px;
    width: 380px;
    margin: 10px 20px 0;
    padding: 0;
}

.buttons {
    height: 370px;
    width: 380px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.buttons :active {
            transform: scale(0.95);
            /* Scaling button to 0.98 to its original size */
            /* box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); */
            /* Lowering the shadow */
        }

button {
    flex: 1 25%;
    font-size: 20px;
    border-width: 1px;
}

.operator {
    background-color: orange;
}

.function {
    background-color: cornflowerblue;
}

.number {
    background-color: green;
}

